[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/Exynos9611Development/kernel_AnyKernel3
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/Exynos9611Development/KernelSU
